parameters:
    level: max
    paths:
    - src
    - tests
    excludePaths:
    - */tests/tmp/*
    - */tests/Fake/*
    ignoreErrors:
        - '#PHPDoc tag @SuppressWarnings has invalid value#'
        - '#Cannot cast mixed to string#'
